/* Global variables */

:root {
    --bg-color: #08090a;
    --text-color: #f7f8f8;
}

/* Page structure */

a, button {
    -webkit-tap-highlight-color: transparent;
}

p {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    position: relative;
    min-width: 320px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Background (Particle.js) */

#particles-js {
    z-index: 0;
    width: 100%;
    height: 99.5%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Container structure */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.src-full {
    width: 100%;
    height: 100%;
}

.page-view {
    box-sizing: border-box;
    text-align: center;
}

.ctn-central {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    gap: 0.75rem
}

.ctn-link {
    gap: 2rem;
    padding: 1.5rem 0;
    flex-direction: column;
}

.ctn-button {
    gap: 1.5rem;
    flex-wrap: wrap;
}

.ctn-blur {
    z-index: 3;
    position: fixed;
    background-color: #000000a0;
    visibility: hidden;
}

.ctn-popup {
    z-index: 3;
    position: fixed;
    width: 55%;
    padding: 30px 30px;
    gap: 20px;
    background: linear-gradient(#101010, #101010) padding-box,
                linear-gradient(#fc6a03, #e81cff, #40c9ff) border-box;
    border: 1.5px solid transparent;
    border-radius: 15px;
    font-weight: bold;
    text-align: left;
    visibility: hidden;
}

.ctn-contact {
    height: 25rem;
}

.ctn-mail {
    height: 5rem;
}

/* Text formatting */

.title {
    font-weight: 750;
    font-size: 3rem;
}

.subtitle {
    font-weight: 750;
    font-size: 1.1rem;
}

.subtitle,
.title {
    z-index: 2;
    width: fit-content;
    position: relative;
    align-self: center;
}

.strong {
    opacity: 1;
    --target-opacity: 1;
}

.medium {
    opacity: 0.65;
    --target-opacity: 0.65;
}

.light {
    opacity: 0.4;
    --target-opacity: 0.4;
}

/* UI Elements */

.btn-long, .btn-short {
    z-index: 2;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 500px;
    border: #ffffff7d .2rem solid;
    transition: all .3s ease-out;
    cursor: pointer;
    text-decoration: none;
}

.btn-long:hover, .btn-short:hover {
    border-color: #3654ff;
}

.btn-long {
    display: inline-block;
    width: 130px;
    padding: 10px 0 12px 0;
}

.btn-short {
    display: inline-flex;
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.btn-short img {
    flex-shrink: 0;
}

.btn-short span {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.btn-short:hover {
    width: 100px;
    padding: 0 15px;
    justify-content: center;
}

.btn-short:hover span {
    max-width: 90px;
    margin-left: 12px;
    opacity: 1;
    transform: translateX(0);
}

#gmail { border-color: #b02b27; }
#linkedin { border-color: #2867b2; }
#github { border-color: #6f40bf; }
#leetcode { border-color: #dc9a37; }
#gallery { border-color: #006241; }

#gmail:hover { background-color: #b02b27; }
#linkedin:hover { background-color: #2867b2; }
#github:hover { background-color: #6f40bf; }
#leetcode:hover { background-color: #dc9a37; }
#gallery:hover { background-color: #006241; }

.btn-copy {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #353434;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
}

.btn-copy:hover {
    background-color: #464646;
}

.btn-copy object {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.btn-copy #obj-tick { display: none; }
.btn-copy:focus:not(:focus-visible) #obj-clip { display: none; }
.btn-copy:focus:not(:focus-visible) #obj-tick { display: block; }

.btn-submit {
    width: 50%;
    height: 40px;
    align-self: center;
    background-color: #006bb3;
    border: 3px solid #ffffff4d;
    border-radius: 10px;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
}

.btn-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    width: 25px;
    height: 25px;
    border: none;
    color: #ffffff7d;
    font-size: 1.75em;
    cursor: pointer;
}

.btn-exit:hover { color: var(--text-color); }

/* Animation components */

.anim {
    color: transparent;
    opacity: 0;
    transform: translateY(20px);
    filter: blur(10px);
    animation: loadIn 1s ease forwards;
}

@keyframes loadIn {
    to {
        opacity: var(--target-opacity);
        transform: translateY(0);
        filter: blur(0);
        color: #fff;
    }
}

.anim:nth-child(1) { animation-delay: 0.1s; }
.anim:nth-child(2) { animation-delay: 0.2s; }
.anim:nth-child(3) { animation-delay: 0.3s; }
.anim:nth-child(4) { animation-delay: 0.4s; }
.anim:nth-child(5) { animation-delay: 0.5s; }

/* Form elements */

.box-input {
    padding: 12px 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #414141;
    color: var(--text-color);
}

textarea {
    height: 10rem;
    margin: 0 0 10px 0;
    resize: none;
}

#emailBox {
    width: 70%;
    margin: 0 10px 0 0;
}

/* Responsive adjustments */

@media (min-width:1024px) {
    .page-view {
        text-align: left;
    }

    .title {
        font-size: 3.75rem;
    }

    .subtitle,
    .title {
        align-self: auto;
    }
}

@media (min-width:600px) {
    .ctn-central {
        padding-left: 24px;
        padding-right: 24px;
    }

    .ctn-popup {
        width: 20rem;
    }
}

@media (min-width:1200px) {
    .ctn-central {
        max-width: 1200px;
    }
}

@media (min-width:1024px) {
    .ctn-link {
        flex-direction: row
    }
}
