/* Global variables */

:root {
    --bg-color: #08090a;
    --text-color: #f7f8f8;
}

/* Page structure */

p {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    position: relative;
    min-width: 320px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Background (Particle.js) */

#particles-js {
    z-index: 0;
    width: 100%;
    height: 99.5%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Container structure */

.page-view {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ctn-central {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

.ctn-block {
    display: flex;
    flex-direction: column;
    gap: 0.75rem
}

.ctn-link {
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

/* Text formatting */

.title {
    font-weight: 750;
    font-size: 3rem;
}

.subtitle {
    font-weight: 750;
    font-size: 1.1rem;
}

.subtitle,
.title {
    z-index: 2;
    width: fit-content;
    position: relative;
    align-self: center;
}

.strong {
    opacity: 1;
}

.medium {
    opacity: 0.65;
}

.light {
    opacity: 0.4;
}

/* UI Elements */

.btn-long {
    z-index: 2;
    position: relative;
    width: 130px;
    height: 50px;
    margin: 0 10px 0 0;
    color: var(--text-color);
    background-color: transparent;
    border: var(--text-color) .2rem solid;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 550;
    text-align: center;
    transition: all .6s ease
}

.btn-long:hover {
    border: #3654ff .2em solid;
    cursor: pointer
}

.btn-short {
    display: inline-flex;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-out
}

.btn-short:hover {
    border: #3654ff .2em solid
}

#gmail, #linkedin, #github, #leetcode, #gallery { 
    border-width: 0.2em;
    border-style: solid;
}

#gmail { border-color: #b02b27; }
#linkedin { border-color: #2867b2; }
#github { border-color: #6f40bf; }
#leetcode { border-color: #dc9a37; }
#gallery { border-color: #006241; }

#gmail:hover { background-color: #b02b27; }
#linkedin:hover { background-color: #2867b2; }
#github:hover { background-color: #6f40bf; }
#leetcode:hover { background-color: #dc9a37; }
#gallery:hover { background-color: #006241; }

/* Responsive adjustments */

@media (min-width:1024px) {
    .page-view {
        text-align: left;
    }

    .title {
        font-size: 3.75rem;
    }

    .subtitle,
    .title {
        align-self: auto;
    }
}

@media (min-width:600px) {
    .ctn-central {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width:1200px) {
    .ctn-central {
        max-width: 1200px;
    }
}

@media (min-width:1024px) {
    .ctn-link {
        flex-direction: row
    }
}
